* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}

#display {
    width: 100%;
    height: 80px;
    font-size: 2.5rem;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #444;
    color: white;
    margin-bottom: 20px;
}

#Keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 50%;
    border: none;
    background-color: rgb(69, 62, 62);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: rgb(90, 80, 80);
}

@media (max-width: 500px) {
    #display {
        font-size: 2rem;
        height: 70px;
    }

    button {
        font-size: 1.5rem;
    }
}



.operator-btn {
    background-color: #ff9500; 
    color: white;
    font-weight: bold;
}

.operator-btn:hover {
    background-color: #e08900; 
}
